
body {
    font-family: courier;
    margin: 0;
    padding: 0;
    background-color: #304a27;
}
header {
    background-color: #735c43;
    color: #bef59d;
    padding: 20px;
    text-align: center;
    font-family: Gill Sans;
}
#article1 {
        max-width: 75%;
        margin: 0 auto;
    }
#fade {
    text-align: left;
    opacity: 0;
    animation: fade-in 3s forwards;
}

svg {
  position: relative;
  overflow: visible;
}




.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #036618;
  border-radius: 10px;
}



.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
  border-radius: 10px;
}

a:hover, .dropdown:hover .dropbtn {
  background-color: #025213;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #036618;
  min-width: 160px;
  border-radius: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #025213;}

.dropdown:hover .dropdown-content {
  display: block;
}

.big-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #558745;
  padding: 20px;
  margin-top: 20px;
  color: white;
}

.big-box div{
  align-self:flex-start;
}
.grid-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  background-color: #558745;
  padding: 20px;
  margin-top: 20px;
  color: white;
}
.big-box a{
  color:#558745;
  
}
.contact-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 20px;
  padding: 20px;

  background-color: #16381d;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.contact-card img{
  max-width: 100%;
  display: block;
}
.contact-card:hover {
  transform: scale(1.2);
  background-color: #3d6635;
}
.contact-card h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
}


.grid-box a {
  color: white;
  text-decoration: none;
}

.grid-box a:hover{
  text-decoration: none;
  background-color: inherit;
}

.info{
  color: white;
  padding:10px;
  display: none;
  max-height:70%;
  background-color: #273822;
  border-radius: 10px;
  position:relative;
  text-wrap: balance;
  overflow: auto;
}

@keyframes fade {
    0% {
        opacity: 3;
    }
    100% {
        opacity: 0;
        display: none;
        
    }
}

@keyframes fade-in {
    0% {
        
        opacity: 0;
    }
    50% {
      opacity: 0;
      
    }
    100% {
        opacity: 3;
        
    }
}
.contact-card:hover img{
  animation: fade 0.5s forwards;
  
}

.contact-card:hover .info{
  display: block;
  animation: fade-in 1s forwards;
  
}



@media screen and (max-width:780px) {
    .grid-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .dropdown-content{
      left: 50%;
      transform: translateX(-50%);
    }
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width:50em) {

  header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1em;
    }

}


